language: csharp
sudo: required
mono: none
dotnet: 3.1.102
dist: trusty
services:
  - docker
  - postgresql
  - mysql
before_script:
  - ./bash/init-mysql.sh
  - ./bash/init-postgres.sh
  - docker run --name mssql -v $(pwd)/bash/init-mssql.sh:/init-mssql.sh -e 'ACCEPT_EULA=Y' -e 'SA_PASSWORD=x987(!)654' -p 1433:1433 -d microsoft/mssql-server-linux
  - docker exec mssql /init-mssql.sh
  - dotnet restore
script:
  - dotnet test ./ThinkingHome.Migrator.Tests -c Release -f netcoreapp3.1